.apropos {
    margin-top: 44px;
}

.apropos-banner {
    background-image: url("@/Assets/Images/Pages/Apropos/bannerapropos.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.apropos-dropdowns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px;
}

@media screen and (max-width: 1024px) {
    .apropos {
        margin-top: 30px;
    }

    .apropos-banner {
        height: 223px;
    }

    .apropos-dropdowns {
        margin: 0 60px;
    }
}

@media screen and (max-width: 640px) {
    .apropos {
        margin-top: 17px;
    }

    .apropos-banner {
        background-image: url("@/Assets/Images/Pages/Apropos/mobilebannerapropos.png");
        height: 223px;
    }

    .apropos-dropdowns {
        margin: 0 20px;
    }
}